:root {
  font-family: Roboto Condensed,Arial,Helvetica,sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  background-color: #000000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 0;
}