.gallery-container {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url('../../../assets/BackgroundGallery.jpg'); 
    background-repeat: no-repeat;
    background-size: auto 130%;
    
  }
  .title{
    position:absolute;
    font-size: 48px;
    font-weight: 600;
    margin-left: 15%;
    margin-top: 5%;
  }
  .image-preview img {
    width: 65%;
    height: auto;
    margin-right: 20px;
    margin-left: 15%;
    margin-top: 15%;
    display: block;
}

.image-preview{
    position: relative;
    display: inline-block;
}
  .image-preview::before, .image-preview::after {
    content: "";
    position: absolute;
    border: 5px solid rgb(255, 0, 0); /* Cambia a tu color y grosor de borde deseado */
    width: 80px;  /* Cambia a la longitud de borde deseada */
    height: 80px; /* Cambia a la longitud de borde deseada */
  }
.image-preview::before{
    top: 25%;
    left: 15%;
    border-bottom: none;
    border-right: none;
}
.image-preview::after{
        bottom: 12%;
        right: 20%;
        border-top: none;
        border-left: none;
}
  .image-slider {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 25%;
  }
  
  .image-slider img {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .text-title{
    font-size: 36px;
    letter-spacing: 1px;
    font-weight: 100;
    position:absolute;
    margin-left: 15%;
    bottom: 2%;    
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .fade-in {
    animation: fadeIn 0.5s;
    -webkit-animation: fadeIn 0.5s;
}
  
